<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>



RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond $1 !^(index\.php|uploads|robots\.txt|application/js|application/css)
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]